apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controller:
      type: deployment

    image:
      repository: jellyfin/jellyfin
      tag: "10.9.6"       # <-- pin a version, no 'latest'
      pullPolicy: IfNotPresent

    env:
      TZ: "Europe/Stockholm"

    envFrom:
      - secretRef:
          name: jellyfin-secret

    service:
      main:
        ports:
          http:
            port: 8096

    persistence:
      config:
        enabled: true
        existingClaim: jellyfin-config
      media:
        enabled: true
        existingClaim: jellyfin-media
